<div id="<%= dom_id album %>">
  <p>
    <strong>Artist:</strong>
    <%= album.artist %>
  </p>

  <p>
    <strong>Name album:</strong>
    <%= album.name_album %>
  </p>

  <p>
    <strong>Year album:</strong>
    <%= album.year_album %>
  </p>

</div>
