<div id="<%= dom_id album %>">
  <p>
    <strong>Artistalbum:</strong>
    <%= album.artistAlbum %>
  </p>

  <p>
    <strong>Albumname:</strong>
    <%= album.albumName %>
  </p>

  <p>
    <strong>Yearalbum:</strong>
    <%= album.yearAlbum %>
  </p>

</div>
